<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

<br>

{{if or (.Customer_fname) (.Customer_lname) (gt .Customer_age 0) (gt .Customer_id 0)}}
    <h1>Found :  {{.Customer_fname}} {{.Customer_lname}} {{.Customer_age}}<br>
        Your Customer Id is : {{.Customer_id}}
    </h1>
    <a href="/index">index</a><br><br><br>
    <a href="/getcustomer">another search</a><br>
{{else}}
    <form method="GET" >
        <label for="customerid">Customer ID</label>
        <input type="number" id="cid" name="customerid">
        <br>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="first">
        <br>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="last">
        <br>
        <label for="age">Age</label>
        <input type="number" id="age" name="age">
        <br>
        <input type="submit" name="search-btn" value="search">
    </form>
{{end}}

</body>
</html>