<!DOCTYPE html><html lang="en"><head><meta charet="UTF-8"><title></title></head><body>
<strong>INDEX Page</strong><br>
<a href="/index">index</a><br>
<a href="/insert">insert</a><br>
<a href="/fetchall">fetchall</a><br>
<a href="/getcustomer">getcustomer</a><br>
<a href="/deletecustomer">deletecustomer</a><br>
</body></html>