<!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>

    <body>

<br>

{{if .}}
    <h1>Inserted Successfully:  {{.Customer_fname}} {{.Customer_lname}} {{.Customer_age}}<br>
    </h1>
    <a href="/index">index</a><br><br><br>
    <a href="/insert">insert more</a><br>
    {{else}}
    <form method="POST" >
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="first">
        <br>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="last">
        <br>
        <label for="age">Age</label>
        <input type="number" id="age" name="age">
        <br>
        <input type="submit">
    </form>
{{end}}

    </body>
</html>